@charset "UTF-8";

.card {
/* 	border: none;	 */
}

.card img {
	height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.card-body {
	height: 200px;	
}

.card-body a {
	height: 27%;
	display: block;
}

.card-body div {
	height: 73%;
	padding: 10px;
}

#search input {
	width: 45%;
	display: inline-block;
}

#search input:focus {
 	border-color: #ced4da;
	outline: none;
	box-shadow: none;
}

#search button {
	width: 10%;
}

#search a {
	float: right;
}

.page-item.active .page-link {
	background-color: #BCFF66;
	border-color: #BCFF66;
}

.page-item a {
	color: #BCFF66;
}

.page-link:hover {
	color: #BCFF66;
}

.card {
	cursor: pointer;
}